.categories-container {
  text-align: center;
  padding: 20px;
}

.category-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.category-link {
  background-color: hsl(291, 82%, 68%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.category-link:hover {
  background-color: #0056b3;
}
